.navbar{
    background-color: #0F1C26;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    padding: 24px 100px 24px 70px;
}

.img-logo{
    height: 36px;
    width: 32px;
    margin-right: 42px;
    align-self: center;
}

.search{
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 92px;
    background-color: #171B1E;
}

input{
    width: 100%;
    align-self: center;
    background-color: #171B1E;
    border: 0px;
    font-weight: 700;
    color: #fdfdfd;
    padding: 16px 14px;
}

.search:hover{
    border: 1px solid #8C8C8C;
}

input:focus{
    border: 1px solid #FDFDFD;
    border-radius: 0px;
}

.search img{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    align-self: center;
}

.perfil{
    display: flex;
    align-items: center;
}

.foto-perfil{
    height: 56px;
    width: 56px;
    margin-left: 8px;
}